{% load i18n %}
{% load url from future %}
{% load appstore_tags %}

{% with blocked=app|update_blocker:env %}
<a href="#uninstall_{{ app.pk }}" style="{% if app not in env.apps.all or not env %}display:none{% endif %}" role="button" class="btn uninstall" data-toggle="modal">{% trans 'Uninstall' %}</a>

<div class="modal" id="uninstall_{{ app.pk }}" tabindex="-1" role="dialog" aria-labelledby="{% trans 'Install' %}" aria-hidden="true" style="display: none">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{% trans 'Uninstall' %} {{ app }}</h3>
    </div>
    <div class="modal-body">
        <p>
            {% trans 'Are you sure you want to uninstall' %}
            {{ app }}
            {% trans 'from environment' %}
            {{ env }}
            ?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Cancel' %}</button>
        <button class="btn btn-primary" data-appstore-app-slug="{{ app.pk }}" data-appstore-app-action="uninstall" data-appstore-app-url="{{ app.get_absolute_url }}">{% trans 'Uninstall' %}</button>
    </div>
</div>

<a href="#newVersion_{{ app.pk }}" style="{% if app not in env.apps.all or not env %}display:none{% endif %}" role="button" class="btn newVersion" data-toggle="modal">{% trans 'New version' %}</a>

<div class="modal" id="newVersion_{{ app.pk }}" tabindex="-1" role="dialog" aria-labelledby="{% trans 'Install' %}" aria-hidden="true" style="display: none">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{% trans 'Edit' %} {{ app }}</h3>
    </div>
    <div class="modal-body">
        <p>
        {% if blocked %}
            {% trans 'You already have an update in progress for this app. Do you want to make a plain copy ?' %}
        {% else %}
            {% if not app.deployed %}
                {% trans 'This app is not deployed. Do you want to make a loose copy ? The copy will not superseed the source app.' %}
            {% else %}
                {% trans 'Should the new version, once deployed, obsolete this one in this environment ?' %}
            {% endif %}
        {% endif %}
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Cancel' %}</button>
        {% if app.deployed and not blocked %}
            <button class="btn btn-primary" data-appstore-app-slug="{{ app.pk }}" data-appstore-app-action="update" data-appstore-app-url="{{ app.get_absolute_url }}">{% trans 'Yes, update this app' %}</button>
        {% endif %}
        <button class="btn btn-primary" data-appstore-app-slug="{{ app.pk }}" data-appstore-app-action="copy" data-appstore-app-url="{{ app.get_absolute_url }}">{% if blocked or not app.deployed %}{% trans 'Yes, just copy' %}{% else %}{% trans 'No, just copy' %}{% endif %}</button>
    </div>
</div>

{% if app in env.apps.all and not app.deployed %}
    <a href="{% url 'appstore_app_update' app.pk %}" role="button" class="btn">{% trans 'Update' %}</a>
{% endif %}

<a href="#install_{{ app.pk }}" style="{% if app in env.apps.all %}display:none{% endif %}" role="button" class="btn install" data-toggle="modal">{% trans 'Install' %}</a>

<div class="modal hidden" id="install_{{ app.pk }}" tabindex="-1" role="dialog" aria-labelledby="{% trans 'Install' %}" aria-hidden="true" style="display: none">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{% trans 'Install' %} {{ app }}</h3>
    </div>
    <div class="modal-body">
        <p>
            {% trans 'Are you sure you want to install' %}
            {{ app }}
            {% trans 'in environment' %}
            {{ env }}
            ?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Cancel' %}</button>
        <button data-appstore-app-slug="{{ app.pk }}" class="btn btn-primary" data-appstore-app-action="install" data-appstore-app-url="{{ app.get_absolute_url }}">{% trans 'Install' %}</button>
    </div>
</div>
{% endwith %}
