{% load url from future %}
{% load i18n %}
<html>
    <head>
        <title>{% block head_title %}{% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" />
        <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        </style>
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            {% include '_navbar.html' %}

            {% block before_body %}
            {% endblock %}

            {% block body %}
            {% endblock %}
        </div>


        <script type="text/javascript" src="{{ STATIC_URL }}jquery.1.7.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
        {% include 'autocomplete_light/static.html' %}

        <script type="text/javascript">
        $(document).ready(function() {
            $(this).bind('appstore.app.action', function(e, btn) {
                /*
                // This toggles the right install/uninstall button, but it doesn't
                // Do the toggle for installed dependencies.

                var action = $(e.target).data('appstoreAppAction');
                var otherAction = action == 'install' ? 'uninstall' : 'install';
                var appSlug = $(e.target).data('appstoreAppSlug');
                var mainBtn = $('a[href="#' + action + '_' + appSlug + '"]');
                var otherBtn = $('a[href="#' + otherAction + '_' + appSlug + '"]');

                mainBtn.hide();
                otherBtn.show();
                $('.modal:visible').modal('hide');
                 */
                location.reload();
            });

            $(this).bind('appstore.app.error', function(e, jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
                $('.modal:visible').modal('hide');
            });

            {% if not request.user.is_authenticated %}
                $(this).bind('appstore.app.require_env', function(e) {
                    location.href = '{% url 'login' %}?next=' + $(e.target).data('appstoreAppUrl');
                });
            {% endif %}
        });
        </script>

        {% block extra_body %}
        {% endblock %}

        {% block jquery_cookie %}
            <script src="{{ STATIC_URL }}form_designer/jquery.cookie.js" type="text/javascript"></script>
        {% endblock %}
        {% block js_var_csrftoken %}
            <script type="text/javascript">
                var csrftoken = $.cookie('csrftoken');
                {% include 'form_designer/origin_security.js' %}
            </script>
        {% endblock %}
    </body>
