{% extends 'admin/base_site.html' %}

{% block content %}
    {% block body %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
<script type="text/javascript">
    $(document).bind('appstore.app.action', function(e, btn) {
        location.reload();
    });


    {% if not request.user.is_authenticated %}
        $(document).ready(function() {
            $(this).bind('appstore.app.require_env', function(e) {
                location.href = '{% url login %}?next=' + $(e.target).data('appstoreAppUrl');
            });
        });
    {% endif %}
</script>
{% endblock %}
